<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>has made <%= pluralize(@user.ratings.count, "rating") %>, average: <%= @user.average_rating %></p>

<p>
  <% if @user.favorite_style %>
    favorite style: <%=@user.favorite_style %>
  <% end %>
  <% if @user.favorite_brewery %>
    , favorite brewery: <%=@user.favorite_brewery.name %>
  <% end %>
</p>

<h3>ratings</h3>
<ul>
  <% @user.ratings.each do |rating|%>
    <li class="#{rating.beer.name}" %>>
      <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
    </li>
  <% end %>
</ul>

<h3>beerclub memberships:</h3>
<ul>
  <% @user.beer_clubs.each do |beer_club|%>
    <li>
      <%= link_to "#{beer_club}", beer_club %>
    </li>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
