<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to "#{rating.user}", rating.user %> </li>
 <% end %>
</ul>

<p>amount of ratings <%=@ratings.count %></p>

<!--<ul>
    <% @beers.each do |beer| %>
    <li>
        <%= link_to "#{beer.name}", beer %>
        <br>
        Ratings: 
        <% beer.ratings.each do |rating| %>
        <%= rating.score%>
        <% end %>
    </li>
    <% end %>
</ul>-->

<%= link_to 'Create new Rating', new_rating_path%>

<p>To be completed...</p>