<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= Brewery.find(@beer.brewery_id).name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
  <strong>Beer has not yet been rated!</strong>
  <% else %>
  <strong>Average of <%= @beer.ratings.count%> ratings:</strong>
  <%= @beer.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
