<h2><%= @place.first.name %></h2>
<p>street: <%= @place.first.street %></p>
<p>city <%= @place.first.city %></p>
<p>state: <%= @place.first.state %></p>
<p>country: <%= @place.first.country %></p>
<p>phone: <%= @place.first.phone %></p>
<p>url: <%= @place.first.url %></p>